.winners {
  padding-left: 20px;
}

.winners-container {
  padding-bottom: 30px;
}

.winners__title {
  margin-bottom: 20px;
}

.winners__page {
  @include font($size: 1.8rem, $weight: 500, $height: 3rem);
  margin-bottom: 20px;
}

.winners__table {
  border-collapse: collapse;
}

.table__head,
.table__data {
  text-align: center;
  padding: 5px 20px;
  border: 1px solid #fff;
}

.table__data {
  font-weight: 500;
}