.auth-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding: 30px 50px;
  @extend %background-train;
  border-radius: 5px;
  box-shadow: 0 .1rem .5rem rgba(0, 0, 0, .5);
  z-index: 20;

  input {
    font-size: 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    margin-bottom: 40px;
    outline: none;
    color: white;
    &::placeholder {
      color: rgba($color: #fff, $alpha: .7);
    }
  }

  button {
    margin-top: auto;
    text-transform: uppercase;
    height: 50px;
    width: 150px;
    background: transparent;
    border: 2px solid white;
    border-radius: .5rem;
    color: white;
    font-size: 18px;
    letter-spacing: .6rem;
    cursor: pointer;
  
    &:hover {
      opacity: .8;
    }
  }

  .auth__cancel-btn {
    background-color: #f35151;
  }
}

.auth__header {
  align-self: center;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-bottom: 40px;
  font-weight: normal;
}

.auth__btns {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color: #000, $alpha: .5);
  z-index: 10;
}

.hidden {
  display: none;
}