.star_correct,
.star_incorrect {
  height: 50px;
  width: 50px;
  background-image: url(../../public/img/star-win.svg);
  background-size: contain;
  pointer-events: none;
  flex-shrink: 0;
}

.star_incorrect {
  pointer-events: painted;
  background-image: url(../../public/img/star.svg);
}